:root {
    /* Настройки кнопок */
    --p-button-padding-y: 0.5rem;
    --p-button-padding-x: 1rem;
    --p-button-border-radius: 0.25rem;
    --p-button-font-size: 0.875rem;

    /* Настройки полей ввода */
    --p-input-padding-y: 0.5rem;
    --p-input-padding-x: 0.75rem;
    --p-input-border-radius: 0.25rem;
    --p-input-font-size: 0.875rem;

    /* Настройки карточек */
    --p-card-padding: 1rem;
    --p-card-border-radius: 0.5rem;

    /* Настройки таблиц */
    --p-table-cell-padding-y: 0.5rem;
    --p-table-cell-padding-x: 0.75rem;

    /* Другие общие настройки */
    --p-border-radius: 0.25rem;
    --p-spacing: 1rem;

    --p-form-field-border-color: #C6CAD2 !important;
    --p-inputtext-hover-border-color: #000 !important;
}
